<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Project</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

</head>
<body>
   {% block navigation %}
   <header class="bg-dark text-white py-3 d-flex justify-content-between align-items-center">
      <div class="container d-flex align-items-center">
         <div class="bg-grey p-2 rounded mr-2">
            <img src="{% static 'images/bible_iconn.png' %}" alt="Bible Icon" style="height: 30px;">
          </div>
        <h1 class="mb-0">BibleSearch</h1>
      </div>
      <div class="form-inline my-2 my-lg-0">
         <div class="form-inline my-2 my-lg-0" role="group">
           
            <a href="{% url 'login' %}" class="btn btn-outline-light">Login</a>
          </div>
      </div>
    </header>
    {% endblock navigation %}
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
    <div class="container mt-5">
      {%block content%}
      <form  >
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    
      {%endblock content%}
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    {%block footer%}
    <footer class="bg-dark text-white py-3">
      <div class="container text-center">
        <p>Follow us on social media:</p>
        <a href="#" class="text-white me-3"><i class="fab fa-twitter"></i></a>
        <a href="#" class="text-white me-3"><i class="fab fa-instagram"></i></a>
        <p>&copy; 2024 BibleSearch</p>
        
      </div>
    </footer>
    {%endblock footer%}

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Font Awesome -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
  <!-- Custom JS -->
  <script src="{%static 'js/index.js'%}"></script>

</body>
</html>
